
.header{
    background-color: lightskyblue;
    color: white;
    font-family:'Lucida Grande' sans-serif;
    font-size: larger;
    text-align: center;
}


.kecy{
    color: grey;
    text-align: center;
}

.sidebar-image-gallery{
    text-align: center;
}

.list{
    color:grey;
}

.tabulka{
    text-align: center;
    color: rgb(61, 61, 61)
    margin-left: auto;
    margin-right: auto;
}


table{
    width: 100%;
}

.kontakt{
    color: grey;
    text-align: center;
    
}

a:hover{
    color:rgb(61, 61, 61);
}


  